.wrapper:has([role="combobox"]:focus, > input:focus) > [role="combobox"] {
  outline: 1px solid theme("colors.gray.05");
}

.wrapper_dark:has([role="combobox"]:focus, > input:focus) > [role="combobox"] {
  outline: 1px solid theme("colors.neutral.01");
}

.wrapper:has(.container:hover) > .container {
  background-color: theme("colors.neutral.01");
}

.wrapper:has(.dark_container:hover) > .dark_container {
  background-color: theme("colors.secondary.01");
}
