@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply dark:bg-secondary-03 bg-neutral-03 overflow-y-scroll;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  label {
    @apply text-primary-05 dark:text-neutral-01;
  }
}

@layer components {
  .input-sign {
    @apply p-3 min-h-[3rem] rounded-lg text-neutral-02 outline-none focus:outline-1 focus:outline-gray-03 focus:outline-offset-2 bg-secondary-04 border border-gray-05 placeholder:text-gray-03;
  }

  .input-invalid {
    @apply invalid:border-danger-01 invalid:focus:ring-1 invalid:focus:ring-danger-01 invalid:text-danger-01 invalid:placeholder:text-danger-01 dark:invalid:placeholder:text-danger-01;
  }

  .input-label {
    @apply text-secondary-04 hover:text-secondary-02 dark:text-neutral-01 font-semibold;
  }

  .input-label-disabled {
    @apply text-secondary-04 hover:text-secondary-02 dark:text-neutral-01 font-semibold;
  }

  .input-default {
    @apply font-normal text-gray-03 border border-gray-03 px-6 py-4 rounded-lg my-2 placeholder:text-gray-03 cursor-pointer focus:outline-none focus:ring-1 focus:ring-gray-05 transition-colors bg-neutral-03 hover:bg-neutral-01 active:placeholder:text-secondary-01 active:text-secondary-01 disabled:cursor-not-allowed disabled:opacity-50 disabled:active:placeholder:text-gray-03 dark:bg-secondary-03 dark:border-neutral-01  dark:text-neutral-01 dark:placeholder:text-gray-03 dark:hover:bg-secondary-01 dark:active:bg-secondary-05 dark:focus:ring-1 dark:focus:ring-neutral-01 dark:transition-colors dark:disabled:bg-gray-02 dark:disabled:active:text-current dark:disabled:active:placeholder:text-current;
  }

  .input-error {
    @apply font-normal my-2 text-danger-01 text-sm;
  }
  .swal-overlay {
    @apply z-50;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #f36b6b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #fefefe;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f36b6b;
  border-radius: 14px;
  border: none;
}
